<section>
  <div class="container">
    <div class="grid align-items-center pb-5">
      <div class="md:col-6">
        <figure>
          <img
            class="w-full"
            [src]="productDetails.image"
            [alt]="productDetails.title"
          />
        </figure>
      </div>
      <div class="md:col-6">
        <p class="font-medium mt-1 mb-3 text-color-secondary">
          {{ productDetails.title }}
        </p>

        <p class="font-medium text-sm my-1">
          {{ productDetails.description }}
        </p>
        <div class="flex align-items-center gap-2 mb-4">
          <div class="price flex gap-2 align-items-center">
            <span class="text-color-secondary font-bold">
              <del>14</del>
            </span>
            <span class="new-price font-bold">
              <span class="text-green-400">$</span> {{ productDetails.price }}
            </span>
          </div>
          <div class="offer">
            <span class="bg-red-500 p-1 border-circle text-white text-xs"
              >%{{ productDetails.discount }}</span
            >
            <span class="fonot-bold text-xs font-bold px-1">off</span>
          </div>
        </div>
        <div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">brand:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.brand }}
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">model:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.model }}
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">color:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.color }}
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">category:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.category }}
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">discount:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.discount }}
            </p>
          </div>
        </div>
        @if (!productDetails.isAddedToCart) {
        <p-button
          (click)="
            addToCart(productDetails); productDetails.isAddedToCart = true
          "
          label="add to cart"
          severity="warning"
          styleClass="my-2 uppercase w-full"
          icon="pi pi-cart-plus text-2xl"
          iconPos="right"
        />

        } @if (productDetails.isAddedToCart) {
        <p-button
          [routerLink]="['/cart']"
          label="go to cart"
          severity="contrast"
          styleClass="my-2 uppercase w-full"
          icon="pi pi-shopping-cart text-2xl"
          iconPos="right"
        />
        }
      </div>
    </div>
  </div>
</section>
