<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="grid">
        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>Egypt, alexandria</span>
            </div>
          </div>
        </div>
        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>01119730899</span>
            </div>
          </div>
        </div>
        <div class="xl:col-4 md:col-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>{{ "zoorgan@example.com" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="grid justify-content-between">
        <div class="xl:col-4 lg:col-6 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a>
                <figure class="my-0 mx-2">
                  <img class="w-2rem" src="./assets/logo.svg" alt="logo" />
                </figure>
              </a>
            </div>
            <div class="footer-text">
              <p>
                Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed
                do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.
              </p>
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>
              <a><i class="pi pi-facebook"></i></a>
              <a><i class="pi pi-instagram"></i></a>
              <a><i class="pi pi-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <div class="xl:col-4 lg:col-6 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>
                Don’t miss to subscribe to our new feeds, kindly fill the form
                below.
              </p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address" />
                <button><i class="pi pi-envelope"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="copyright-text text-center">
        <p>
          Copyright &copy; All Right Reserved
          <span class="text-main fw-bold">zoorgan</span>
        </p>
      </div>
    </div>
  </div>
</footer>
