<section>
  <div class="container my-8">
    <h1 class="my-3 font-bold capitalize">register form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <!-- Username -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            formControlName="name"
            placeholder="Username"
            [autofocus]="true"
          />
        </p-inputGroup>
        <div class="validation-smg">
          @if (name.dirty && name.touched) { @if (name.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'name is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if (name.getError('minlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'must be at least 3 char'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if (name.getError('maxlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'cannot exceed 20 char'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <!-- Email -->
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input pInputText formControlName="email" placeholder="email" />
        </p-inputGroup>
        <div class="validation-msg">
          @if (email.touched&& email.dirty) { @if (email.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'email is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if (email.getError('email')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'email not valid'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <!-- Password -->

      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            type="password"
            formControlName="password"
            placeholder="password"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (password.dirty && password.touched) { @if
          (password.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'password is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if (password.getError('minlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'must be at least 3 char'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } @if (password.getError('maxlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'cannot exceed 20 char'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <!-- rePassword -->

      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            formControlName="rePassword"
            placeholder="rePassword"
            type="password"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (rePassword.dirty && rePassword.touched) { @if
          (rePassword.getError('passNotMatch')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'rePassword not match password'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          } }
        </div>
      </div>
      <p-button type="submit" label="Submit" />
    </form>
  </div>
</section>
