<section>
  <div class="container-fluid">
    <h1 class="text-color-secondary uppercase my-5">all categories</h1>
    <div class="grid justify-content-between">
      @for (category of allCategory; track $index) {
      <div class="md:col-4 lg:col-3">
        <figure
          [routerLink]="['/specificCategory', category]"
          class="m-1 shadow-2 border-round-2xl overflow-hidden cursor-pointer"
        >
          <img
            class="w-full"
            [src]="getImageCategory(category)"
            [alt]="category"
          />
        </figure>
        <h2 class="text-color-secondary capitalize text-center">
          {{ category }}
        </h2>
      </div>
      }
    </div>
  </div>
</section>
